.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
  
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .backdrop.is-hidden .modal {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.9);
  }