// MAIN BUTTON
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: none;
    color: var(--txt-button-color);
    background: var(--c-accent-color);
    max-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  } 
  .button:hover,
  .button:focus {
    cursor: pointer;
    transition: cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main__main-button {
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  // FOOTER BUTTON
  .button-subscribe {
    display: flex;
    align-items: center;
  
    max-width: 200px;
    height: auto;
  
    padding: 10px 28px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  
    color:var(--txt-button-color);
    background-color: var(--c-accent-color);
  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    cursor: pointer;
  }
  .button-subscribe:hover,
.button-subscribe:focus {
 
  outline-color: #188ce8;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-subscribe__icon-send {
  width: 24px;
  height: 24px;

  margin-left: 10px;
  vertical-align: middle;

  fill: #ffffff;
}
// FILTERS BUTTONS
.filters__button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 8px 22px;
}
.filters__button:hover,
.filters__button:focus {
  
  cursor: pointer;
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
// MODAL WINDOW BUTTON
.modal__form-button {
  display: block;
 

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 56px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  border: none;

  color: #ffffff;
  background-color: var(--c-accent-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.modal__form-button:hover,
.modal__form-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
