.footer {
    background: var(--c-footer-color);
  }
  .section-pos.footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__left-block{
    display: flex;
    flex-basis: calc((100% - 30px) / 2 );
    margin-right: 70px;
  }
  .linklogo {
    display: block;
    padding-bottom: 10px;
  }
  .footer__container {
    display: flex;
  }
  .footer__left-side {
    display: flex;
    flex-basis: calc((100% - 30px) / 2);
    flex-direction: column;
    
    margin-right: 70px;
  }
  .adress {
    font-size: 14px;
    line-height: 1.71;
  }
  .adress-list__item {
    margin-bottom: 9px;
    font-size: 14px;
  line-height: 24px;
  
  letter-spacing: 0.03em;
  }
  .adress-p {
    color: #ffffff;
    font-style: normal;
    font-size: 14px;
  line-height: 24px;
   
  letter-spacing: 0.03em;
  }
  .adress-list__contact {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
  }
  .footer-join {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    flex-basis: calc((100% - 30px) / 2);
    
  }
  .join-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #ffffff;
  }
  .join-list {
    display: flex;
  }
  .join-item {
    margin-top: 20px;
    
    
  }
  .join-item:not(:last-child){
    margin-right: 10px;
  }
  .join-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 10px;
  }
  .join-icon__logo {
    width: 20px;
    height: 20px;
    fill: var(--join-icon-color);
  }
  .join-icon:hover,
  .join-icon:focus {
    background-color: var(--c-accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
   /* FOOTER RIGHT SIDE */
   .footer__right-block {
    display: flex;
    
  }
  
  .footer-subscribe-form {
    display: flex;
  position: relative;
    align-items: center;
    flex-basis: calc((100% - 30px) / 2 );
  }
  .footer-subscribe-form__subscribe-input {
    width: 358px;
    height: 50px;
  
    padding-left: 16px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  
    color:var(--txt-color);
    background-color: inherit;
  }
  .footer-subscribe-form__subscribe-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }


.footer-subscribe-text {
  
    color:var(--c-background-color);
    position: absolute;
    top:12px;
    font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  }