.linklogo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* letter-spacing: 0.03em; */
  }
  .weblogo {
    color: #2196f3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .studiologo {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--txt-nav-color);
  }
  .studiologo-white {
    color: var(--c-white-color);
  }
  .footer__weblogo {
    color: var(--c-accent-color);
  }
  