
.modal {
  position: absolute;
  left: 50%;
  top: 50%;

  opacity: 1;
  max-width: 528px;
  min-height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 40px 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__text-title {
    margin-bottom: 12px;

    text-align: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;

    color: #212121;
  }
  &__label {
    display: block;

    padding-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.01em;

    color: #757575;
  }
  &__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    margin-bottom: 10px;
    cursor: pointer;

    &:focus {
      outline: none;
      border: 1px solid #2196f3;
      border-radius: 4px;
    }
  }
  &__icon-modal {
    display: block;
    margin-left: 12px;

    width: 18px;
    height: 18px;

    .modal__input:focus + & {
      fill: var(--c-accent-color);
    }
  }
  &__user-comments {
    resize: none;

    padding: 12px 16px;
    width: 100%;
    min-height: 120px;
    margin-bottom: 20px;

    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }
  }

  &__close {
    &:focus {
      outline: none;
      border-color: var(--c-accent-color);
    }
    position: absolute;
    right: 8px;
    top: 8px;

    width: 30px;
    height: 30px;

    background: var(--c-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    opacity: 1;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon-close {
    position: absolute;

    right: 20%;
    top: 20%;

    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal__close:hover &,
    .modal__close:focus & {
      fill: var(--c-accent-color);
    }
  }
  &__form-button {
    display: block;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 56px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    border-radius: 4px;
    border: none;

    color: #ffffff;
    background-color: var(--c-accent-color);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;
    &:hover,
    &:focus {
      background: #188ce8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
    }
  }
  &__user-name-thumb,
  &__user-phone-thumb,
  &__user-email-thumb {
    position: relative;
  }
  &__icon-person-modal,
  &__icon-phone-modal,
  &__icon-email-modal {
    position: absolute;

    left: 0;
    top: 0;
  }
}
.user-agree-policy {
  display: block;
  text-align: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;

  &__link{
    color: var(--c-accent-color);
  }

  &__check-wrap {
    display: inline-block;

    margin-right: 8px;
    width: 16px;
    height: 15px;
    outline: 2px solid black;

    .modal__form-checkbox:checked + .user-agree-policy & {
      outline: var(--c-accent-color);
    }
    .modal__form-checkbox:focus + .user-agree-policy & {
      outline: 3px solid black;
    }
  }
  &__icon-agree {
    opacity: 0;
    display: block;
    width: 16px;
    height: 16px;

    .modal__form-checkbox:checked + .user-agree-policy & {
      opacity: 1;
      background-color: var(--c-accent-color);
    }
  }
}
