.our-team {
    background: #f5f4fa;
  }
  .our-team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--txt-title-color);
    margin-bottom: 50px;
    text-align: center;
  }
  .our-team__list .our-team__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }
  .our-team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
  .our-team__item {
    background-color: var(--c-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .our-team__content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .our-team__name {
  
    font-size: 16px;
    line-height: 1.18;
    color: var(--txt-title2-color);
    text-align: center;
    margin-bottom: 10px;
  }
  .our-team__job {
    font-size: 16px;
    line-height: 1.18;
    color: var(--txt-main-color);
    text-align: center;
  }
  .social__list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .social__list-link .circle {
    display: flex;
    margin-right: 10px;
    align-items: center;
    height: 44px;
    width: 44px;
    fill: #afb1b8;
    background-size: 20px;
    border-radius: 50%;
  }
  .social-icon {
    height: 20px;
  }
  .circle:hover,
.circle:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--c-accent-color);
  fill: #ffffff;
}