// Filters
.section-pos.filters {
    padding-bottom: 50px;
  }
  .filters__list {
    display: flex;
    justify-content: center;
  }
  .filters__item {
    margin-right: 8px;
  }
// Portfolio card
.portfolio {
  padding-top: 0px;
  position:relative;
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.portfolio-content__portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color:#000;
}
.portfolio-content__portfolio-desk {
  font-size: 16px;
  line-height: 1.87;
  color: var(--txt-main-color);
}
.portfolio__card-overlay{
  position:relative;
  overflow: hidden;

}
.portfolio__card-description{
  top:50%;
  left:50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, 50%);
  position: absolute;
  text-align:left;
  background-color: var(--c-accent-color);
  color:white;
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
visibility: hidden;
  letter-spacing: 0.03em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover .portfolio__card-description,
.portfolio__item:focus .portfolio__card-description{
  overflow: visible;
  visibility: visible;
  transform: translate(-50%, -50%);
  
}